networks:
  bridge:
    driver: bridge

services:
  python-script:
    container_name: subito
    build: .
    restart: unless-stopped
    ports:
      - "5000:5000" # Flask port
    volumes: # source:destination # ./ relative / absolute
    #  - /portainer/Files/AppData/Config/Subito:/subito # for my portainer config
    # ok working old - .:/portainer/Files/AppData/Config/subito # for my portainer config
      - type: bind
        # source: /portainer/Files/AppData/Config/Subito  # <host_path>
        source: /DATA/AppData/Subito  # <host_path>
        target: /app     # <container_path>    
    networks: # needs to be created
      - bridge
